// @import '@nativescript/theme/core';
// @import '@nativescript/theme/default';

$colors:  (
    background-black: #111111,
    nav-black: #0B0B0B,
    accent: #FFC700,
    yellow: #FFC700
);

.screen {
    padding: 50 16 0 16;
    background: #111111;
}

Label.h1 {
    font-family: 'Poppins-Bold';
    font-size: 30;
    color: white;
}

Label.h2 {
    font-size: 20;
    font-family: 'Poppins-Bold';
    color: white;
}

FlexboxLayout.top_bar {
    align-items: center;
}

Label.pill {
    height: 25;
    text-align: center;
    padding: 3 15;
    margin-right: 10;
    background-color: #2A2A2A;
    border-radius: 50;
    font-size: 14;
    font-family: 'Poppins-Regular';
    color: #ffffff;

    &.active {
        background-color: #FFC700;
        color: #111111;
    }
}