// @import '@nativescript/theme/core';
// @import '@nativescript/theme/default';

$colors:  (
    background-black: #111111,
    nav-black: #0B0B0B,
    accent: #FFC700,
    yellow: #FFC700
);

.screen {
    padding: 50 16 0 16;
    background: #111111;
}

Label.h1 {
    font-family: 'Poppins-Bold';
    font-size: 30;
    color: white;
}

Label.h2 {
    font-size: 20;
    font-family: 'Poppins-Bold';
    color: white;
}